<app-navbar></app-navbar>
<div class="main-content page-fit" >
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" 
        routerLink="/voucher" >Vouchers</a>
        <!-- Form -->
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Search" type="text">
            </div>
          </div>
        </form>
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">Jessica Jones</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Settings</span>
              </a>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-calendar-grid-58"></i>
                <span>Activity</span>
              </a>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-support-16"></i>
                <span>Support</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
         
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <table class="col-lg-12 ">
                <tr>
                  <td>
                    <h3 class="mb-0">
                      <button class="btn btn-icon btn-3 btn-primary" data-toggle="modal" data-target="#modal-form" type="button">
                            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                            
                            <span class="btn-inner--text">Add Voucher</span>
                            
                      </button>
                    </h3>
                  </td>
               
                <td>List :</td>
                <td> <select class="form-control"> 
                    <option value="All">All</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                    <option value="All">All</option>
                    </select>
                </td>

                
                  </tr> 
                </table>
                    
            </div>
            <div class="table-responsive " >
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Date </th>
                    <th scope="col">Paid To</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Amount </th>
                    <th scope="col">Description </th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let voucher of voucherData">
                      <td>
                          {{voucher.date}}
                        </td>
                    <th scope="row">
                     
                          <span class="mb-0 text-sm">  {{voucher.paidto}}</span>
                       
                    </th>
                    <td>
                        {{voucher.purpose}}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                          {{voucher.amount}}
                      </span>
                    </td>
                    <td>
                        <span class="badge badge-dot mr-4">
                            {{voucher.description}}
                        </span>
                      </td>
                   
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document" >
   
            <div class="modal-content " >
        	
            <div class="modal-body p-0">
            	
                	
<div class="card bg-secondary shadow border-0">
    
    <div class="card-body px-lg-5 py-lg-5">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"  style="font-size:2rem">&times;</span>
        </button>
        <div class="text-center text-muted mb-4">
            Add Voucher
        </div>
        <form role="form">
            <table class="" style="width:100%" >
            <tr>
                <td class="p-2" >
                    <div class="form-group ">
                        <select  class="form-control" id="purpose"   >
                          <option *ngFor="let purpose of purposeSelect" value="{{purpose.value}}">{{purpose.label}}</option>
                          
                          </select>
                    </div>
                 </td>
                 <td class="p-2" >
                <div class="form-group ">
                        <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        <input class="form-control " placeholder="Enter date" type="text" value="15-02-2019">
                    </div>
                </div>
            </td>
            </tr>
            <tr>
                    <td class="p-2">
                        <div class="form-group  ">
                            <input type="text" class="form-control" id="paidTo" placeholder="Paid To" >
                        </div>
                     </td>
                     <td  rowspan="2" class="p-2">
                            <div class="form-group  ">
                            <textarea class="form-control" id="description" rows="5" maxlength="250" 
                            placeholder="Description"
                            data-toggle="tooltip" data-placement="bottom" title="Max 250 Characters"
                            
                            ></textarea>
                            </div>
                     </td>
            </tr>
            <tr>
                     <td class="p-2">
                    <div class="form-group">
                            <input type="text"  class="form-control" id="amount" placeholder="Amount" >
                    </div>
                    </td>
                </tr>

                
            </table>
             <div class="text-center">
                <button type="button" class="btn btn-primary my-4"> Create Voucher  </button>
            </div>
        </form>
    </div>
</div>



                
            </div>
        </div>
    </div>
</div>
     

    </div>
  </div>